<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>MyFirtServlet</display-name>


    <servlet>
        <servlet-name>brands</servlet-name>
        <servlet-class>controllers.controller.BrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>brands</servlet-name>
        <url-pattern>/brands</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>mobiles</servlet-name>
        <servlet-class>controllers.controller.PhonesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mobiles</servlet-name>
        <url-pattern>/phones</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>random</servlet-name>
        <servlet-class>controllers.controller.RandomizerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>random</servlet-name>
        <url-pattern>/random</url-pattern>
    </servlet-mapping>
</web-app>